
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<script>
    $(function () {
        $.post("/SysInfo/GetAllList", {userNum:"00091695"}, function (data) {
            console.log(data);
        });
        $.post("/SysInfo/GetUserList", {userNum:"00091695"}, function (data) {
            console.log(data);
        });
    });
</script>