
@{
    ViewBag.Title = "全部应用";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <form id="SysAddForm" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalTitle">添加应用</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <input type="text" class="hidden" id="SysID">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="tbxUserNum">用户名</label>
                                        <input type="text" class="form-control" name="tbxUserNum" id="tbxUserNum" placeholder="用户名">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxPwd">密码</label>
                                        <input type="password" class="form-control" name="tbxPwd" id="tbxPwd" placeholder="密码">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSubmit" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="box box-danger">
    <div class="box-header">
        <h2 class="box-title">全部应用</h2>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row" id="sysList">
            <div class="col-sm-6 col-md-4 col-lg-3 ">
                <div class="thumbnail" style="height: 336px;">
                    <a href="" title="" target="_blank"><img width="300" height="150" class="lazy" src="~/Image/webpack.png" /></a>
                    <div class="text-center">
                        <h3><a href="" title="" target="_blank">模板<br></a></h3>
                        <p class="text-left">描述--支持信息</p>
                    </div>
                    <button class="btn btn-block btn-info btn-lg">添加</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        function ClearForm() {
            $("#addModal input").val("");
        }

        $.post("/SysInfo/GetAllList", {}, function (data) {
            //console.log(data);
            var list = '';
            $.each(data, function (indexInArray, valueOfElement) {
                list += '<div class="col-sm-6 col-md-4 col-lg-3 ">';
                list += '<div class="thumbnail" style="height: 336px;">';
                list += ' <a href="" title="" target="_blank"><img width="300" height="150" class="lazy" src="../Image/' + valueOfElement["SysIcon"] + '" /></a>';
                list += '<div class="text-center"><h3><a href="" title="" target="_blank">' + valueOfElement["SysName"] + '<br></a></h3>';
                list += '<p class="text-left">' + valueOfElement["SysDesc"] + '</p>';
                if (valueOfElement["BindState"] == "已绑定") {
                    list += '<button class="btn btn-block btn-success btn-lg">已绑定</button>';
                }
                else {
                    list += '<button id="' + valueOfElement["SysInfoID"] + '" class="SysAdd btn btn-block btn-info btn-lg">添加</button>';

                }
                list += '</div>';
                list += '</div>';
                list += '</div>';
            });
            $("#sysList").append(list);
        });

        $(document).on("click", ".SysAdd", function () {
            ClearForm();
            $("#addModal").modal("show");
            $("#SysID").val($(this).attr("id"));
        });

        $("#btnSubmit").click(function () {
            Ewin.confirm({ message: "确定要添加吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    $("#SysAddForm").ajaxSubmit({
                        url: "/SysInfo/Insert",
                        type: "post",
                        success: function (result) {
                            if (result === "ok") {
                                toastr.success("操作成功！", "提示");
                                BackView();
                            }
                        },
                        error: function (error) {
                            toastr.error(error, "提示");
                            return;
                        }
                    });
                }
            });
        });
    });
</script>

