
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="box box-warning">
        <div class="box-header">
            <h2 class="box-title">我的应用</h2>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row" id="sysList">
                @*<div class="col-sm-6 col-md-4 col-lg-3 ">
                    <div class="thumbnail" style="height: 336px;">
                        <a href="" title="" target="_blank"><img width="300" height="150" class="lazy" src="~/Image/webpack.png" /></a>
                        <div class="text-center">
                            <h3><a href="" title="" target="_blank">模板<br></a></h3>
                            <p class="text-left">描述--支持信息</p>
                        </div>
                        <button class="btn btn-block btn-info btn-lg">添加</button>
                    </div>
                </div>*@
            </div>
        </div>
    </div>

<script>
    $(function () {
        //$.post("/SysInfo/GetAllList", {userNum:"00091695"}, function (data) {
        //    console.log(data);
        //});
        $.post("/SysInfo/GetUserList", {userNum:"00091695"}, function (data) {
            //console.log(data);
            var list = '';
            $.each(data, function (indexInArray, valueOfElement) {
                list += '<div class="col-sm-6 col-md-4 col-lg-3 ">';
                list += '<div class="thumbnail" style="height: 336px;">';
                list += ' <a href="" title="" target="_blank"><img width="300" height="150" class="lazy" src="../Image/' + valueOfElement["SysIcon"] + '" /></a>';
                list += '<div class="text-center"><h3><a href="" title="" target="_blank">'+valueOfElement["SysName"]+'<br></a></h3>';
                list += '<p class="text-left">' + valueOfElement["SysDesc"] + '</p>';
                list += '<button class="btn btn-block btn-danger btn-lg">解除绑定</button>';
                list += '</div>';
                list += '</div>';
                list += '</div>';
            });
            $("#sysList").append(list);
        });
    });
</script>