
@{
    ViewBag.Title = "我的应用";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>我的应用</h2>
<h4 class="text-danger">如果没有绑定过应用系统，请点击左侧【全部应用】进行绑定。</h4>
<div class="box box-danger">
    <div class="box-header">
        <h2 class="box-title">生产类</h2>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row" id="sysListProduce"></div>
    </div>
</div>
<div class="box box-info">
    <div class="box-header">
        <h2 class="box-title">经营类</h2>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row" id="sysListManagement"></div>
    </div>
</div>
<div class="box box-warning">
    <div class="box-header">
        <h2 class="box-title">服务类</h2>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row" id="sysListService"></div>
    </div>
</div>
<script>
    $(function () {
        function LoadSys(listID, type) {
            $.post("/SysInfo/GetUserList", { "type": type }, function (data) {
                //console.log(data);
                var list = '';
                $.each(data, function (indexInArray, valueOfElement) {
                    var isLogin = valueOfElement["IsLogin"];
                    var urlLink='<div class="text-center"><h3><a class="SysLink" href="javascript:void(0)" id="'+valueOfElement["SysInfoID"]+'">' + valueOfElement["SysName"] + '<br></a></h3>';
                    var urlPic = ' <a class="SysLink" href="javascript:void(0)" id="' + valueOfElement["SysInfoID"] + '"><img width="300" height="150" class="lazy" src="../Image/' + valueOfElement["SysIcon"] + '" /></a>';
                    if (isLogin == "否") {
                        urlLink='<div class="text-center"><h3><a href="' + valueOfElement["SysUrl"] + '" target="_blank">' + valueOfElement["SysName"] + '<br></a></h3>';
                        urlPic = ' <a href="' + valueOfElement["SysUrl"] + '" target="_blank"><img width="300" height="150" class="lazy" src="../Image/' + valueOfElement["SysIcon"] + '" /></a>';
                    }
                    list += '<div class="col-sm-6 col-md-4 col-lg-3 ">';
                    list += '<div class="thumbnail" style="height: 336px;">';
                    list += urlPic;
                    list += urlLink;
                    list += '<p class="text-left">' + valueOfElement["SysDesc"] + '</p>';
                    list += '<button id="' + valueOfElement["SysInfoID"] + '" class="SysDel btn btn-block btn-danger btn-lg">解除绑定</button>';
                    list += '</div>';
                    list += '</div>';
                    list += '</div>';
                });
                $("#" + listID).empty().append(list);
            });
        }

        LoadUserSysAll();
        function LoadUserSysAll() {
            LoadSys("sysListProduce", "生产");
            LoadSys("sysListManagement", "经营");
            LoadSys("sysListService", "服务");
        }

        $(document).on("click", ".SysDel", function () {
            var sysID = $(this).attr("id")
            Ewin.confirm({ message: "确定要解除绑定吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                else {
                    $.post("/SysInfo/RemoveUserSys", { "SysID": sysID }, function (result) {
                        //console.log(result);
                        if (result === "ok") {
                            toastr.success("操作成功！", "提示");
                            LoadUserSysAll();
                            GetSysCount();
                        }
                    });
                }
            });
        });

        $(document).on("click", ".SysLink", function () {
            var sysID = $(this).attr("id")
            $.post("/SysInfo/RedirecToSys", { "SysID": sysID }, function (result) {
                window.open(result, "_blank");
                //window.location.href = "<a href='" + result + "' target='_blank'></a>";
            });
        });
    });
</script>

