
@{
    ViewBag.Title = "应用管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <form id="formInfo">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalTitle">应用信息</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="tbxSysName">应用名称</label>
                                        <input type="text" class="form-control" name="tbxSysName" id="tbxSysName" placeholder="应用名称">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxSysDesc">应用描述</label>
                                        <input type="text" class="form-control" name="tbxSysDesc" id="tbxSysDesc" placeholder="应用描述">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxSysIcon">应用图标</label>
                                        <input type="text" class="form-control" name="tbxSysIcon" id="tbxSysIcon" placeholder="应用图标">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxTechnicalContactPhone">技术联系人电话</label>
                                        <input type="text" class="form-control" name="tbxTechnicalContactPhone" id="tbxTechnicalContactPhone" placeholder="技术联系人电话">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxTechnicalContactPerson">技术联系人</label>
                                        <input type="text" class="form-control" name="tbxTechnicalContactPerson" id="tbxTechnicalContactPerson" placeholder="技术联系人">
                                    </div>

                                    <div class="form-group">
                                        <label for="ddlSysType">应用类型</label>
                                        <select id="ddlSysType" name="ddlSysType" class="form-control">
                                            <option value="生产">生产</option>
                                            <option value="经营">经营</option>
                                            <option value="服务">服务</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxSysTypeSub">应用子类型</label>
                                        <input type="text" class="form-control" name="tbxSysTypeSub" id="tbxSysTypeSub" placeholder="应用子类型">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxLoginUrl">转跳登录验证地址</label>
                                        <input type="text" class="form-control" name="tbxLoginUrl" id="tbxLoginUrl" placeholder="应用登录验证地址">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxLoginType">登录验证用户类型</label>
                                        <input type="text" class="form-control" name="tbxLoginType" id="tbxLoginType" placeholder="应用登录类型">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxSysUrl">应用原访问地址</label>
                                        <input type="text" class="form-control" name="tbxSysUrl" id="tbxSysUrl" placeholder="应用原登录地址">
                                    </div>
                                   
                                    <input class="hidden" id="sysID" name="sysID">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="tbxManageContactPhone">业务联系人电话</label>
                                    <input type="text" class="form-control" name="tbxManageContactPhone" id="tbxManageContactPhone" placeholder="业务联系人电话">
                                </div>
                                <div class="form-group">
                                    <label for="tbxManageContactPerson">业务联系人</label>
                                    <input type="text" class="form-control" name="tbxManageContactPerson" id="tbxManageContactPerson" placeholder="业务联系人">
                                </div>
                                <div class="form-group">
                                    <label for="tbxLoginCheckDataBaseIP">系统账号验证IP</label>
                                    <input type="text" class="form-control" name="tbxLoginCheckDataBaseIP" id="tbxLoginCheckDataBaseIP" placeholder="系统账号验证IP">
                                </div>
                                <div class="form-group">
                                    <label for="tbxLoginCheckDataBaseName">系统账号验证数据库名</label>
                                    <input type="text" class="form-control" name="tbxLoginCheckDataBaseName" id="tbxLoginCheckDataBaseName" placeholder="系统账号验证数据库名">
                                </div>
                                <div class="form-group">
                                    <label for="tbxLoginCheckDataBaseUserName">系统账号验证数据库用户名</label>
                                    <input type="text" class="form-control" name="tbxLoginCheckDataBaseUserName" id="tbxLoginCheckDataBaseUserName" placeholder="系统账号验证数据库用户名">
                                </div>
                                <div class="form-group">
                                    <label for="tbxLoginCheckDataBaseUserPwd">系统账号验证数据库密码</label>
                                    <input type="text" class="form-control" name="tbxLoginCheckDataBaseUserPwd" id="tbxLoginCheckDataBaseUserPwd" placeholder="系统账号验证数据库密码">
                                </div>
                                <div class="form-group">
                                    <label for="tbxLoginCheckDataBaseStoredProcedure">系统账号验证存储过程名</label>
                                    <input type="text" class="form-control" name="tbxLoginCheckDataBaseStoredProcedure" id="tbxLoginCheckDataBaseStoredProcedure" placeholder="系统账号验证存储过程名">
                                </div>
                                <div class="form-group">
                                    <label for="ddlIsLogin">是否需要登录</label>
                                    <select id="ddlIsLogin" name="ddlIsLogin" class="form-control">
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="ddlSysState">应用状态</label>
                                    <select id="ddlSysState" name="ddlSysState" class="form-control">
                                        <option value="0">正常</option>
                                        <option value="1">停用</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="tbxSysOrder">应用排序(数字)</label>
                                    <input type="text" class="form-control" name="tbxSysOrder" id="tbxSysOrder" placeholder="应用排序(数字)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" id="btnSubmit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="box box-danger">
    <div class="box-header">
        <h2 class="box-title">应用管理</h2>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="tbxSysNameSearch">系统名称：</label>
                        <input type="text" class="form-control" id="tbxSysNameSearch" placeholder="系统名称">
                    </div>
                    <div class="form-group">
                        <label for="ddlSysTypeSearch">系统类型：</label>
                        <select id="ddlSysTypeSearch" class="form-control">
                            <option value="">全部</option>
                            <option value="生产">生产</option>
                            <option value="经营">经营</option>
                            <option value="服务">服务</option>
                        </select>
                    </div>
                    <button type="button" id="btnSearch" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> 查询</button>
                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div id="toolbar" class="btn-group">
                    <button id="btnAdd" type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增
                    </button>
                </div>
                <table id="bsTable"></table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#btnAdd").click(function () {
            clearInfo();
            $('#myModal').modal('show');
        });
        function clearInfo() {
            $("#tbxTitle").val("");
            $("#formInfo input").val("");
            $("label.error").hide();
            $(".error").removeClass("error");
        }
        $("#btnSubmit").click(function () {
            $("#formInfo").validate({
                rules: {
                    tbxSysName: { required: true, maxlength: 100 }
                },
                submitHandler: function (form) {
                   Ewin.confirm({ message: "确认要保存吗？" }).on(function (e) {
                            if (!e) {
                                return;
                            }
                            else {
                                $("#formInfo").ajaxSubmit({
                                    url: "/SysInfo/SaveSysInfo",
                                    type: "post",
                                    success: function (result) {
                                        if (result === "ok") {
                                            $("#myModal").modal("hide");
                                            toastr.success("操作成功！", "提示");
                                            clearInfo();
                                            $("#bsTable").bootstrapTable('refresh');
                                        }
                                    },
                                    error: function (error) {
                                        console.log(error);
                                        clearInfo();
                                        toastr.error(error, "提示");
                                        return;
                                    }
                                });
                            }
                        });
                }
            });
        });

        var operateEvents = {
            'click .edit': function (e, value, row, index) {
                $("label.error").hide();
                $(".error").removeClass("error");

                $('#myModal').modal('show');
                $("#sysID").val(row.SysInfoID);
                $.post("/SysInfo/GetSysOne", { "id": row.SysInfoID }, function (result) {
                    $.each(result, function (name,val) {
                        $("#tbx" + name).val(val);
                        $("#ddl" + name).val(val);
                    });
                });
            },
            'click .remove': function (e, value, row, index) {
                var id = $(this).attr("data-uid");
                Ewin.confirm({ message: "确认要删除公告信息吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var args = { "id": row.NoticeID };
                        $.post("/NoticeInfo/Del", encodeURIComponent(JSON.stringify(args)), function (result) {
                            if (result == "ok") {
                                toastr["success"]("删除公告成功", "提示");
                                $("#bsTable").bootstrapTable('refresh');
                            }
                            else {
                                toastr["error"]("保存错误，请联系5613877！", "提示");
                            }
                        });
                    }
                });
            }
        };
        function operateFormatter(value, row, index) {
            return [
                '<a class="edit" href="javascript:void(0)" title="edit">',
                '<i class="glyphicon glyphicon-pencil"></i>',
                '</a>  ',
                '<a class="remove" href="javascript:void(0)" title="Remove">',
                '<i class="glyphicon glyphicon-trash"></i>',
                '</a>'
            ].join('&nbsp;&nbsp;');
        }
        var queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                sysName: $("#tbxSysNameSearch").val(),
                sysType: $("#ddlSysTypeSearch").val(),
                limit: params.limit,   //页面大小
                offset: params.offset //页码
            };
            return temp;
        };
        var columns = [
            {
                field: 'operate',
                title: '编辑&删除',
                align: 'center',
                events: operateEvents,
                formatter: operateFormatter
            },
            {
                field: 'SysInfoID',
                title: 'ID编号'
            },
            {
                field: 'SysName',
                title: '系统名称'
            },
            {
                field: 'SysDesc',
                title: '系统描述'
            },
            {
                field: 'SysIcon',
                title: '系统图标'
            },
            {
                field: 'ContactPhone',
                title: '联系人电话'
            },
            {
                field: 'ContactPerson',
                title: '联系人'
            },
            {
                field: 'SysState',
                title: '系统状态'
            },
            {
                field: 'SysType',
                title: '系统类型'
            },
            {
                field: 'LoginUrl',
                title: '连接地址'
            },
            {
                field: 'SysOrder',
                title: '系统排序'
            }
        ];
        $('#bsTable').bootstrapTable({
            url: '/SysInfo/GetSysList',         //请求后台的URL（*）
            contentType: 'application/x-www-form-urlencoded',
            method: 'post',                     //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: queryParams,//传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 15, 20, 25],        //可供选择的每页的行数（*）
            search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            //height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "SysID",                     //每一行的唯一标识，一般为主键列
            showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            showExport: false,                     //是否显示导出
            columns: columns
        });
        //搜索按钮
        $("#btnSearch").click(function () {
            $("#bsTable").bootstrapTable('refresh');
        });
    });
</script>