
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>系统首页</h2>

<a href="/SysInfo/List">list</a>
<hr />
<a href="/SysInfo/ListAll">listall</a>
<hr />
<a href="/LogInfo/List">log</a>