
@{
    ViewBag.Title = "系统首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-light-blue">
            <div class="inner">
                <h3 id="LoginCount"></h3>

                <p>平台登录次数</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">详细信息 <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>0<sup style="font-size: 20px"></sup></h3>

                <p>待办任务</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">详细列表 <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
@*访问统计，ip*@
<div class="row">
    <div class="col-md-8">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">各应用访问统计</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="mainEchart" style="height:400px;"></div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row" id="listSysTypeCount">

                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">平台访问IP列表</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul id="IPList"></ul>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>
@*待办*@
<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">待办信息列表</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <h3>开发中</h3>
            </div>
        </div>
    </div>
</div>
@*公告、反馈*@
<div class="row">
    <div class="col-md-6">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">公告信息</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul id="noticeList"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">意见及问题反馈</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
            </div>
        </div>
    </div>
</div>
<script>
    EchartInit();
    function EchartInit() {
        var sysName = new Array();
        var sysCount = new Array();
        $.post("/LogInfo/GetSysLoginCount", "", function (result) {
            $.each(result, function (indexInArray, valueOfElement) {
                sysName[indexInArray] = valueOfElement["SysName"];
                sysCount[indexInArray] = valueOfElement["LoginCount"];
            });
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('mainEchart'));

            // 指定图表的配置项和数据
            var option = {
                //title: {
                //    text: '各应用访问量统计'
                //},
                tooltip: {},
                legend: {
                    data: ['访问次数']
                },
                toolbox: {
                    feature: {
                        saveAsImage: {
                            show: true
                        }
                    }
                },
                yAxis: {

                },
                xAxis: {
                    data: sysName,
                    position: 'left',
                    axisLabel: {
                        margin: 8,
                        showMinLabel: true,
                        rotate: 20
                    }
                },
                series: [{
                    name: '访问次数',
                    type: 'bar',
                    data: sysCount,
                    itemStyle:{  normal:{color:'DodgerBlue'}   },
                    label: {
                        normal: {
                            show: true,
                            position: 'insideTop',
                            textStyle: {
                                color: 'white' //color of value
                            }
                        }
                    },
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        });
    }

    $(function () {
        GetNoticeInfo();
        GetIPList();
        GetLoginCount();
        GetSysTypeCount();
        function GetIPList() {
            $.post("/LogInfo/GetLogInfoIP", "", function (result) {
                var list = "";
                for (var i = 0; i < result.length; i++) {
                    list += "<li><h3>" + result[i]["IP"] + "  <span>【" + result[i]["LoginCount"] + "次】</span></h3></li>";
                }
                $("#IPList").empty().append(list);
            });
        }
        function GetLoginCount() {
            $.post("/LogInfo/GetUserLoginCount", "", function (result) {
                $("#LoginCount").text(result);
            });
        }
        function GetNoticeInfo() {
            $.post("/NoticeInfo/GetListCount", { "count": 8 }, function (result) {
                var list = "";
                for (var i = 0; i < result.length; i++) {
                    list += "<li><h4><a href='/NoticeInfo/NoticeShow?id=" + result[i]["NoticeInfoID"] + "' target='_blank'>" + (i + 1) + "、" + result[i]["NoticeTitle"] + "</a></h4></li>";
                }
                $("#noticeList").empty().append(list);
            });
        }
        function GetSysTypeCount() {
            $.post("/LogInfo/GetSysTypeCount", "", function (result) {
                console.log(result);
                var list = "";
                var countAll = 0;
                $.each(result, function (indexInArray, valueOfElement) {
                    list += '<div class="col-sm-3 col-xs-6">';
                    list += '<div class="description-block border-right">'
                    list += '<h5 class="description-header">' + valueOfElement["SysTypeCount"] + '</h5>'
                    list += '<span class="description-text">' + valueOfElement["SysTypeName"] + '</span>'
                    list += '</div>'
                    list += '</div>';
                    countAll += valueOfElement["SysTypeCount"];
                });
                list += '<div class="col-sm-3 col-xs-6">';
                list += '<div class="description-block border-right">'
                list += '<h5 class="description-header">' + countAll + '</h5>'
                list += '<span class="description-text">应用访问总数</span>'
                list += '</div>'
                list += '</div>';
                $("#listSysTypeCount").empty().append(list);
            });
        }
    });
</script>