
@{
    ViewBag.Title = "通知管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/Scripts/utf8-asp/themes/default/css/ueditor.min.css" rel="stylesheet" />
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <form id="formInfo">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalTitle">通知信息</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="tbxNoticeTitle">公告标题</label>
                                        <input type="text" class="form-control" name="tbxNoticeTitle" id="tbxNoticeTitle" placeholder="公告标题">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxContentType">公告类型</label>
                                        <input type="text" class="form-control" name="tbxContentType" id="tbxContentType" placeholder="公告类型">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbxNoticeContent">公告内容</label>
                                        <script id="editor" type="text/plain" style="height:400px;">
                                        </script>
                                        <input type="text" class="form-control hidden" name="tbxContentCount" id="tbxContentCount">
                                        <textarea class="form-control hidden" name="tbxNoticeContent" id="tbxNoticeContent" rows="5" cols="30"></textarea>
                                    </div>
                                    <input class="hidden" id="tbxNoticeInfoID" name="tbxNoticeInfoID">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" id="btnSubmit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">通知管理</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="tbxNoticeTitleSearch">通知标题：</label>
                        <input type="text" class="form-control" id="tbxNoticeTitleSearch" placeholder="通知标题">
                    </div>
                    <div class="form-group">
                        <label for="tbxUserNumSearch">人员编号：</label>
                        <input type="text" class="form-control" id="tbxUserNumSearch" placeholder="人员编号">
                    </div>
                    <div class="form-group">
                        <label for="tbxNoticeTypeSearch">通知类型：</label>
                        <input type="text" class="form-control" id="tbxNoticeTypeSearch" placeholder="通知类型">
                    </div>

                    <button type="button" id="btnSearch" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> 查询</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="toolbar" class="btn-group">
                    <button id="btnAdd" type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新增
                    </button>
                </div>
                <table id="bsTable"></table>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/utf8-asp/ueditor.config.js"></script>
<script src="~/Scripts/utf8-asp/ueditor.all.min.js"></script>
<script>
    $(function () {
        var ue = UE.getEditor('editor');

        $("#btnAdd").click(function () {
            clearInfo();
            $('#myModal').modal('show');
        });
        function clearInfo() {
            $("#formInfo input").val("");
            $("#formInfo textarea").val("");
            $("label.error").hide();
            $(".error").removeClass("error");
            UE.getEditor("editor").setContent("");
        }
        $("#btnSubmit").click(function () {
            var content = UE.getEditor("editor").getContent();
            var contentCount = UE.getEditor("editor").getContentLength(true);
            $("#tbxNoticeContent").val(content);
            $("#tbxContentCount").val(contentCount);

            $("#formInfo").validate({
                rules: {
                    tbxNoticeTitle: { required: true, maxlength: 200 }
                },
                submitHandler: function (form) {
                    Ewin.confirm({ message: "确认要保存吗？" }).on(function (e) {
                        if (!e) {
                            return;
                        }
                        else {
                            //console.log($("#tbxNoticeContent").val() + $("#tbxContentCount").val());

                            $("#formInfo").ajaxSubmit({
                                url: "/NoticeInfo/Save",
                                type: "post",
                                success: function (result) {
                                    if (result === "ok") {
                                        $("#myModal").modal("hide");
                                        toastr.success("操作成功！", "提示");
                                        clearInfo();
                                        $("#bsTable").bootstrapTable('refresh');
                                    }
                                },
                                error: function (error) {
                                    console.log(error);
                                    clearInfo();
                                    toastr.error(error, "提示");
                                    return;
                                }
                            });
                        }
                    });
                }
            });
        });

        var operateEvents = {
            'click .edit': function (e, value, row, index) {
                $("label.error").hide();
                $(".error").removeClass("error");

                $('#myModal').modal('show');
                $("#NoticeID").val(row.NoticeInfoID);
                $.post("/NoticeInfo/GetOne", { "id": row.NoticeInfoID }, function (result) {
                    //console.log(result);
                    UE.getEditor("editor").setContent(result["NoticeContent"]);
                    $.each(result, function (name, val) {
                        $("#tbx" + name).val(val);
                        $("#ddl" + name).val(val);
                    });
                });
            },
            'click .remove': function (e, value, row, index) {
                var id = $(this).attr("data-uid");
                Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        $.post("/NoticeInfo/Del", { "id": row.NoticeInfoID }, function (result) {
                            if (result == "ok") {
                                toastr["success"]("删除成功", "提示");
                                $("#bsTable").bootstrapTable('refresh');
                            }
                            else {
                                console.log(result);
                                toastr["error"]("系统错误，请联系5613877！", "提示");
                            }
                        });
                    }
                });
            }
        };
        function operateFormatter(value, row, index) {
            return [
                '<a class="edit" href="javascript:void(0)" title="edit">',
                '<i class="glyphicon glyphicon-pencil"></i>',
                '</a>  ',
                '<a class="remove" href="javascript:void(0)" title="Remove">',
                '<i class="glyphicon glyphicon-trash"></i>',
                '</a>'
            ].join('&nbsp;&nbsp;');
        }
        var queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                title: $("#tbxNoticeTitleSearch").val(),
                userNum: $("#tbxUserNumSearch").val(),
                type: $("#tbxNoticeTypeSearch").val()
            };
            return temp;
        };
        var columns = [
            {
                field: 'operate',
                title: '编辑&删除',
                align: 'center',
                events: operateEvents,
                formatter: operateFormatter
            },
            {
                field: 'NoticeTitle',
                title: '标题'
            },
            {
                field: 'InsertPersonNum',
                title: '操作人员'
            },
            {
                field: 'InsertDate',
                title: '操作时间',
                formatter: function (value, row, index) {
                    return moment(row.LogDateTime).format("YYYY-MM-DD HH:mm:ss");
                }
            },
            {
                field: 'ContentType',
                title: '通知类型'
            }
        ];
        $('#bsTable').bootstrapTable({
            url: '/NoticeInfo/List',         //请求后台的URL（*）
            contentType: 'application/x-www-form-urlencoded',
            method: 'post',                     //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: queryParams,//传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 15, 20, 25],        //可供选择的每页的行数（*）
            search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            //height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "NoticeInfoID",                     //每一行的唯一标识，一般为主键列
            showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            showExport: false,                     //是否显示导出
            columns: columns
        });

        $("#btnSearch").click(function () {
            $("#bsTable").bootstrapTable('refresh');
        });
    });
</script>
